.table {
  margin-top: 10px;
  overflow-y: scroll;
  height: 350px;
}
.table tr {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}
.table td {
  padding: 0.6rem;
}
.table tr:nth-of-type(odd) {
  background-color: #05386b;
  opacity: 0.9;
  color: #edf5e1;
}
